
/*
 ===================================
          style css
 ===================================
 */

/* import css files */
@import url(./assets/css/_variables.css);
@import url(./assets/css/_responsive.css);


/* custom style here */
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* will make 1rem = 10px */
    font-size: 62.5%;
}
body{
    font: normal 900 1.6rem var(--font-rale);
}
body h1{
    font-size: 3rem;
}
